* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.frame {
  background-color: #FFFFFF;
  color: #30B868;
  padding: 8px 12px 8px 12px;
  border-radius: 990px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  display: inline-flex;
  cursor: pointer;

}


header{
  background-color: #ffffff;
  background-position:top left,bottom right; ;
  padding-top:50px;
}

.first-part{
font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;  
  
}
.nav-part{
    width: 85%;
  max-width:13600px;
  align-items: center;      
  margin: 0px auto;               
  display: flex;
  justify-content: space-between;
  position:relative;
}
.logo {
     width: 139px;
  height: 60px;
  cursor: pointer;
}
.text1{
    list-style: none;
  display: flex;
  gap: 32px;
}
.text1 li a{
    text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
}

.text1{
    width:67px;
    height:24px;
    gap:32px;
     display: flex;
    font-size:16px;


}
.text1 li a:hover{
    color:#050d8453;
}
.button{
  list-style: none;
}

.nav-button {
  background: #30B868;
  color: #FFFFFF;
  border: none;
  padding: 12.5px 16px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  border-radius: 8px;
  gap: 8px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;

}
.nav-button:hover {
  background: #034fe7;
}
.nav-button{
  background-color: #469146;
  border:none;
  padding: 18px 32px;
  border-radius:5px ;
  font-size: 20px;
  font-weight: bold;
  color:#FFF8F3;
  cursor: pointer;
}

#banner {
    width: 1600px;
  height: 674px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("/assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  margin-top: 16px;
}
.dot {
  width: 16px;
  height: 16px;
  background: #30B868;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  align-items: center;
}
#banner .banner-content h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
  color: #FFFFFF;
  margin-bottom: 16px;
  margin-top: 16px;
}
#banner .banner-content p {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: #FFFFFF;
  margin-bottom: 32px;
}
.second-button {

  background: transparent;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  padding: 16px 16px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}
.box{
    display: flex;
    justify-content: space-between;
    gap:25px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width:322px;
    height:300px;
}
.icon{
    background-color: #F95555;
    width:60px;
    height:60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
