* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header{
  background-color: #ffffff;
  background-position:top left,bottom right; ;
  padding-top:50px;
}

.first-part{
font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;  
  
}
.nav-part{
    width: 85%;
  max-width:13600px;
  align-items: center;      
  margin: 0px auto;               /*make middle all nab bar*/
  display: flex;
  justify-content: space-between;
  position:relative;
}
.logo {
     width: 139px;
  height: 60px;
  cursor: pointer;
}
.text1{
    list-style: none;
  display: flex;
  gap: 32px;
}
.text1 li a{
    text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
}

.text1{
    width:67px;
    height:24px;
    gap:32px;
     display: flex;
    font-size:16px;


}
.text1 li a:hover{
    color:#050d8453;
}
.button{
  list-style: none;
}

.nav-button {
  background: #30B868;
  color: #FFFFFF;
  border: none;
  padding: 12.5px 16px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  border-radius: 8px;
  gap: 8px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;

}
.nav-button:hover {
  background: #034fe7;
}
.nav-button{
  background-color: #469146;
  border:none;
  padding: 18px 32px;
  border-radius:5px ;
  font-size: 20px;
  font-weight: bold;
  color:#FFF8F3;
  cursor: pointer;
}

#banner {
    width: 1600px;
  height: 674px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("/assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 16px;
}